POSTGRES_USER=postgres
POSTGRES_PASSWORD=strong_password_here
POSTGRES_DB=contacts_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

JWT_SECRET=secret_key
JWT_ALGORITHM=HS256
JWT_EXPIRATION_SECONDS=3600

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173

MAIL_USERNAME=example@meta.ua
MAIL_PASSWORD=secretPassword
MAIL_FROM=example@meta.ua
MAIL_PORT=465
MAIL_SERVER=smtp.meta.ua
# for port 587 set: 
# MAIL_STARTTLS=True
# MAIL_SSL_TLS=False

CLD_NAME=cloud_name
CLD_API_KEY=12345678
CLD_API_SECRET=api_secret

LOG_LEVEL=DEBUG

#COMPOSE_PROJECT_NAME=contacts_service
