POSTGRES_USER=postgres
POSTGRES_PASSWORD=567234
POSTGRES_DB=contacts_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# URL для підключення
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

JWT_SECRET=<secret_key> # generate key: openssl rand -base64 32
JWT_ALGORITHM=HS256
JWT_EXPIRATION_SECONDS=3600

LOG_LEVEL=DEBUG