POSTGRES_USER=postgres
POSTGRES_PASSWORD=567234
POSTGRES_DB=contacts_db_10
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# URL для підключення
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

LOG_LEVEL=DEBUG